<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314047462121-jfc38pv4usj31urabbrcqfaec909430i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314047462121-jfc38pv4usj31urabbrcqfaec909430i</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ39aUUdyQsXV6LT3DRbJiKLC4DZBykdM</string>
	<key>GCM_SENDER_ID</key>
	<string>314047462121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DreamTeam.HLTH2019</string>
	<key>PROJECT_ID</key>
	<string>hlth2019</string>
	<key>STORAGE_BUCKET</key>
	<string>hlth2019.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314047462121:ios:2120e77cf09887451cce78</string>
	<key>DATABASE_URL</key>
	<string>https://hlth2019.firebaseio.com</string>
</dict>
</plist>